.coin-list {
  /* border: 1px solid red; */
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-table {
  /* border: 1px solid white; */
  color: white;
  /* text-align: left; */
  min-width: 800px;
  margin: 25px 0;
  margin-left: 10px;
  border-collapse: collapse;
  border-spacing: 0;
}

.content-table th {
  color: #9b9b9b;
  background-color: #343a40;
  height: 50px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  line-height: 0;
}

.coin-name {
  padding: 15px;
}

.left-side {
  /* border: 1px solid red; */
  text-align: left;
  padding: 25px;
}

.text-danger {
  color: #e15241;
}

.text-green {
  color: #8dc647;
}

.coin {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 20px;
  margin: 10px;
  margin-top: 6px;
}

th {
  font-size: 17px;
  font-weight: 100;
  color: #9b9b9b;
  /* border-bottom: 1px solid white; */
  /* border: 1px solid white; */
}

td {
  text-align: center;
  color: #9b9b9b;
  height: 50px;
  border-bottom: 1px solid white;
}
